.content{
  width: 750px;
  border-radius: 20px;
  background-color: #f0f0f0;
  border-bottom-right-radius: 170px;
  height: 350px;
  box-shadow: 5px 5px 10px gray;
}
@media (max-width: 768px) {
  .content {
    width: 300px;
  }
}
.inputs{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.inputs input{
  font-weight: 600;
  margin-top: 20px;
  margin-left: 20px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border-color: gray;

}
.content button{
  background-color: #854cff;
  margin-top: 30px;
  font-weight: 600;
  display: flex;
  border:2px solid black;
  color: white;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  margin-left: 130px;
}
.output{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 20px;
}

.output p{
  height: 15px;
  color: #854cff;
  font-size: 25px;
  font-weight: 600;
}